/* 全局设置 */

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

header, main, footer {
    width: 100%;
    height: 100%;
}

li i,p i{
    display: inline-block;
    margin-right:10px;
}

#page-mid {
    width: 1080px;
    margin: 0 auto;
}

/* 页头 */
header {
    height: 150px;
    background-image: url(../img/header-img.png);
    background-size: 100%;
    background-position: 30px -10px;
}

header p {
    margin-left: 60px;
    padding-top: 50px;
    color: white;
    font-family: '微软幼圆';
    font-size: 1.3em;
    font-weight: 500;

}

#engtitle {
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 0.9em;
}

/* 导航 */
nav {
    width: 1080px;
    height: 50px;
    background-color: #c0c0c0;
    background-image: url(../img/nav.png);
    line-height: 1.3em;
}

#nav-first {
    display: inline-block;
    width: 650px;
    padding-left: 100px;
}

.nav-msg {
    position: relative;
    float: left;
    width: 90px;
    height: 50px;
}

nav li a {
    display: block;
    width: 90px;
    height: 50px;
    color: #000;
    text-align: center;
    line-height: 50px;
    border: 0;
}

nav li a:hover {
    height: 100%;
    border-top: 0;
    border-bottom: 0;
    text-decoration: none;
}

/* 导航下拉菜单 */

nav li ul {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 90px;
    background-color: #FFF;
    z-index: 999;
}

nav li:hover > ul {
    opacity: 1;
    visibility: visible;
}

nav form {
    display: inline-block;
    margin-left: 80px;
    vertical-align: 20px;
}

input {
    width: 200px;
    height: 30px;
}

/* 主体 */

#show {
    width: 1078px;
}

#kinMaxShow {
    display: none;
}

#kinMaxShow p.title {
    position: absolute;
    left: 0;
    bottom: 0;
    text-indent: 10px;
    line-height: 30px;
    font-family: Verdana;
    color: #FFF;
    display: block;
    width: 100%;
    height: 30px;
    font-size: 14px;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#aa000000, endcolorstr=#aa000000);
    background: rgba(0, 0, 0, 0.5);
}

.msg-news, .msg-announce, .msg-work {
    display: inline-block;
    height: 230px;
    margin: 10px 5px;
    border: 1px #969696 solid;
    vertical-align: top;
    -moz-border-radius: 0 0 30px 0;
    -webkit-border-radius: 0 0 30px 0;
    -o-border-radius: 0 0 20px 0;
    -moz-box-shadow: #adadad 3px 2px;
    -webkit-box-shadow: #adadad 3px 2px;
    -o-box-shadow: #adadad 3px 2px;
}

.msg-news ul, .msg-announce ul, .msg-work ul{
    height:150px;
    overflow:hidden;
}

.msg-news li, .msg-announce li, .msg-work li {
    margin-left: 40px;
    margin-top: 10px;
}

.msg-title {
    padding: 10px 15px;
}

.msg-title p {
    display: inline-block;
    vertical-align: 5px;
}

.msg-news {
    width: 400px;
    margin-left: 0;
}

.overflow-dotted {
    width: 24em;
    height: 1.3em;
    overflow: hidden;
    zoom: 1;
}

.overflow-text {
    float: left;
    height: 1.3em;
    margin-right: 3em;
    overflow: hidden;
}

.over-flow {
    width: 3em;
    height: 1.31em;
    float: right;
    margin-top: -1.3em;
}

.msg-announce {
    width: 397px;
}

.msg-work {
    width: 250px;
    margin-right: 0;
}

.active {
    margin-bottom: 10px;
}

.active img {
    width: 100%;
    height: 100%;
}

.active-link {
    display: inline-block;
    margin-right: 5px;
    width: 208px;
    height: 100px;
    background-color: aqua;
    border: 1px #969696 solid;
    -moz-box-shadow: #adadad 3px 2px;
    -webkit-box-shadow: #adadad 3px 2px;
    -o-box-shadow: #adadad 3px 2px;
}

.toright {
    margin-right: 0;
}

footer {
    background-color: #87c0b8;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer ul {
    display: inline-block;
    width: 600px;
    padding-left: 50px;
    vertical-align: 10px;
}

footer li {
    display: inline;
    width: 100%;
}

footer div {
    display: inline-block;
    margin-left: 200px;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}

